* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik Gemstones", system-ui;
  font-weight: 400;
  font-style: normal;
}

#h1 {
  color: red;
  border: 2px solid black;
  /* display: inline-block; */
  margin: 0;
  padding: 0;
  /* display: inline; */
  /* text-align: center; */

}

.h2 {
  /* display: inline-block; */
  border: 2px solid red;
  /* display: inline; */
}

/* .body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  margin: 5px;
} */

.box {
  height: 200px;
  width: 200px;
  background-color: yellow !important;
  border: 20px solid black;
  /* display: block; */
  /* margin: 0 auto; */
  /* position: absolute; */
  /* transform: translateY(-50%) translateX(-50%); */
  /* top: 20px;
  left: 30px;
  bottom: 40px;
  right: 50px */
  /* margin: 20px; */
  /* display: inline-block; */
  /* display: inline; */
  /* visibility: hidden; */
  position: absolute;
  top: 50px;
  left: 50px;
  /* transform: translate(-50%, -50%); */
}

.box2 {
  height: 200px;
  width: 200px;
  background-color: green;
  border: 20px solid black;
  position: absolute;
  top: 150px;
  left: 150px;
  z-index: 2;
}

.box3 {
  height: 200px;
  width: 200px;
  background-color: red;
  border: 20px solid black;
  position: absolute;
  top: 250px;
  left: 250px;
  z-index: 1;
}

.lorem {
  height: 100px;
  /* overflow: scroll; */
  position: relative;
}

.icon {
  width: 250px;
  height: 250px;
  color: black;
  border: 2px solid black;
}