* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  background-color: aqua;
  height: 100px;
  color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container2 {
  background-color: aqua;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px
}

.demo1 {
  padding: 12px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
}

.paragraph {
  padding: 8px;
  border: 4px solid yellow;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 700;
} */

.container {
  max-width: 1440px;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px 30px;
  border: 4px solid gray;
  gap: 8px;
  border-radius: 5px;
}

button {
  background-color: rgb(51, 51, 207);
  color: white;
  border-radius: 4px;
  padding: 5px
}

button:hover {
  background-color: rgb(94, 236, 255);
  cursor: pointer;
}

input {
  padding: 5px;
}